
body{
  font-size: 100%;
  background-color: #add8e6;
}

section{
  border: 3px solid black; 
  margin:auto;
  margin-top:10px;
  padding: 10px 10px 10px 10px;
}

section > h1{
  border: 2px solid black;
}

#section2{
  box-sizing: border-box;
  margin: auto;
}


#section1{
  background-color: red;
}
