*{
    box-sizing: border-box;
}
body{
  background-color: #add8e6;
}

#section1h{
  background-color: #ff6961;
}

#section2h{
  background-color: #6eb5ff;
}

#section3h{
  background-color: #e6be8a;
}

section{
  border: 2px solid black;
  position: relative;
  padding: 10px ;
  height: 150px;
  background-color: #aec6cf;
  float: left;
}
h1{
  text-align:center;
}

h3{
  text-align: right;
  position: relative;
  bottom:29px;
  left: 10px;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}

@media (min-width: 992px){
  #section1{
    width: 33%;
  }
  #section2{
    width: 33%;
  }
  #section3{
    width:33%;
  }
}
@media (min-width:768px) and (max-width:991px){
  #section1{
    width: 50%;
  }
  #section2{
    width: 50%;
    float: right;
  }
  #section3{
    width:100%;
  }
}
@media (max-width: 767px){
  #section1{
    width: 100%;
  }
  #section2{
    width: 100%;
  }
  #section3{
    width:100%;
  }
}
