
body{
  font-size: 100%;
  background-color: #add8e6;
}

section{
  border: 3px solid black; 
  margin:auto;
  margin-top:10px;
  margin-bottom:10px;
  padding: 10px 10px 10px 10px;
  width:100px;
}

h3{
  width:30px;
  background-color: #aec6cf;
}

#section2{
  box-sizing: border-box;
  margin: auto;
}


#section1{
  background-color: red;
}
